.runks-page-container {
    height: 100%;
    padding-top: 100px;
    background-color: #F7F7F7;
    width: 100%;
    overflow: hidden;
    font-family: 'Lato', sans-serif;
}

.h2-page-container {
    width: 80%;
    margin: auto;
}

.runks-tags {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    padding: 0;
    margin: 2rem auto;
    width: 80%;
}

.runks-tags button {
    background: #ffffff;
    border: 2px solid #2436d4;
    color: #2436d4;
    padding: 0.5rem 1rem;
    cursor: pointer;
    text-transform: uppercase;
}

.runks-tags button.active {
    background: #2436d4;
    color: #ffffff;
}

.ranking-container {
    width: 80%;
    margin: auto;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.coming-soon {
    text-align: center;
    margin: 2rem 0;
}

