.runks-main{
    font-family: 'Lato', sans-serif;
    min-height: 100vh;
}

.exemple_width{
    width: 80%;
    margin: 50px auto 20px;
    justify-content:center ;
    display: flex;
    padding-left: 15px;
    flex-direction: column;
    border-left: 10px solid #A6BFF8;
    box-sizing: border-box;
}



.runks_hero {
    position: relative;
    background-image: url("../../assets/images/about/about_background.jpg"); /* ← depuis public/ */
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
    width: 100%;
    padding: 150px 0;
    overflow: hidden;
}

.runks_hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000000;
    opacity: 0.03;
    z-index: 0;
}


.runks-tags {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    padding: 0;
    margin: 5rem auto;
}

.runks-tags button {
    background: #ffffff;
    border: 2px solid #2436d4;
    color: #2436d4;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: all .2s ease;
    text-transform: uppercase;
}
.runks-tags button:hover {
    background: #2436d4;
    border: 2px solid #2436d4;
    color: white;
}

.runks-tags button.active {
    background: #2436d4;
    color: #ffffff;
}

.coming-soon {
    text-align: center;
    margin: 2rem 0;
}