.city-circle {
    text-align: center;
    width: 1384px;
    height: 322px;
    margin: 0 20px;
    position: relative;
  }
  
.city-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}
  
.city-info {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}
  
.city-name {
    font-family: "Lato", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: 2px solid #3138AA;   
    margin-right: 10px;
}
  
.city-icon {
    width: 20px;
    height: 20px;
}
  
  
  