.section-header {
    width: 100%;
    padding: 2rem 0;
}

.section-header .container {
    margin: 0 auto;
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}
@media (min-width: 800px) {

}

.section-title {
    min-width: 300px;
    font-family: "Bebas Neue", sans-serif;
    font-size: 3rem;
    color: #000;
}

.section-link {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: #3138AA;
    font-family: Lato, sans-serif;
    text-decoration: none;
    font-weight: bold;
}

.section-link img {
    width: 20px;
    height: 20px;
}

.section-link:hover {
    text-decoration: underline;
}
  